@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap'); /*overall font for every pages text*/
*{/*Some global settings constant on each page*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
nav{/*Some basic navigation bar settings*/
  display: flex;
  height: 80px;
  width: 100%;
  background: #141414;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{/*Styling for the logo "To-Do"*/
  color: #c2961c;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li a{/*Styling the nav bar links*/
  color: #c2961c;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  cursor: pointer 
}
nav ul li a.active,
nav ul li a:hover{/*Styling for the nav bar hover*/
  color: #111;
  background: #745a12;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
@media (max-width: 1000px){/*Some config for the nav bar size*/
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}

.wrapper{/*wrapper is the main body excluding the nav bar*/
  display: flex;
  position: relative;
}

.wrapper .sidebar{ /*Side bar config*/
  width: 200px;
  height: 100%;
  background: #141414;
  padding: 30px 0px;
  position: absolute;
}

.wrapper .sidebar h2{ /*Side bar header*/
  color: #c2961c;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar h2 :visited { /*Side bart is a link this is used to stop the color from changing*/
  color: #c2961c;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  padding-left: 5%;
}

.wrapper .sidebar ul li{/*styling for the list for the side bar*/
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #c2961c;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{/*change the background of thew list item when hovered on*/
  background-color: #745a12;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}

.wrapper .main_content{/*define the main content bar where the content for the page goes*/
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{/*header section of the main content*/
  padding: 30px;
  margin: 10px;
  background: #141414;/*change header background*/
  color: #c2961c;
  border-bottom: 2px solid #919497;
}

.wrapper .main_content .info{
  padding-bottom: 41%;
  color: black;
  line-height: 25px;
  border-bottom: 2px solid #919497;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}

.main_content{
  background: #141414; /*change info background*/
}

.info{
  background: #141414; /*change info background*/
} 

.header{
  background: #141414; /*change header background*/
}

.container{/*container for the overview boxes*/
  position: relative;
  width: 1200px;
  height: 300px;
  margin: 240px auto;
  background: #141414;
}

.container .box{ /* container for the main boxs on the overview page*/
  position: relative;
  width: calc(400px - 30px);/*used calc to get an accurate size for the screen*/
  height: calc(300px - 30px);
  margin: 15px;
  float: left;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.container .box .icon{/*styling for the icons*/
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 1;
}

.container .box:hover .icon{/*moves the icons on hover changing size*/
  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.container .box .icon .fa{/*styling for the box icon after its change*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 80px;
  color: white;
}

.container .box:hover .icon .fa{
  font-size: 40px;
}

.container .box .content{
  transition: 0.5s;
  position: absolute;
  top: 100px;
  height: 100px;
  text-align: center;
  padding: 20%;
  box-sizing: border-box;
}

.container .box:hover .content{
  top: 50px;
}

.container .box .content h3{/*changes the header font size in the boxes*/
  margin: 0 0 10px;
  padding: 0;
  color: #000;
  font-size: 28px;
}

.container .box .content p{
  margin: 0 0 10px;
  padding: 0;
  color: #000;
}
/*container is the styling for the boxes on the overview page*/
.container .box:nth-child(1){
  background: #4acf50;
}

.container .box:nth-child(1) .icon{
  background: #2caf50;
}

.container .box:nth-child(2){
  background: #f54967;
}

.container .box:nth-child(2) .icon{
  background: #d03852;
}

.container .box:nth-child(3){
  background: #328fa5;
}

.container .box:nth-child(3) .icon{
  background: #23798e;
}

.calander{/*Some calander styling */
  padding-left: 195px;
  padding-top: 0%;
}

.footer {/*styling for the footer of each page*/
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #252525;
  color: white;
  text-align: center;
  padding-bottom: 0%;
}

table {/*overall styling for the table*/
  border-collapse: collapse;
  border-color: rgb(137, 139, 139);
  margin-left: 10%;
}

th{ /*Set the table header background*/
  background-color: #242424;
}

th, td { /*Styling for the Task table*/
  padding: 20px;
  color: #c2961c;
  cursor: pointer;
}

input[type=text], select{ /*{styling for the form text boxes for the new task page)*/
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label { /*{styling for the form labels for the new task page)*/
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {/*{styling for the form button for the new task page)*/
  background-color: #afad4c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover { /*{styling for the form button when hovered over for the new task page)*/
  background-color: #97a045;
}


.col-25 { /*{styling for the form for the new task page)*/
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 { /*{styling for the form for the new task page)*/
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns (styling for the form for the new task page)*/
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
} 

#search[type=text] { /*Search Box styling*/
  width: 16%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-left: 15%;
  margin-bottom: 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.2s ease-in-out;
}

#search[type=text]:focus {
  width: 400px;
}

#map { /*Map styling*/
  height: 600px;
  width: 100%;
}